.single-page-right {
    padding: 0;
    margin-top: 6em;
}

.recent-posts h4, .coment-form h4 {
    font-family: 'Play-Regular';
    font-size: 1.6em;
    color: #f43c60;
    margin-bottom: 0.7em;
}

.recent-posts-info {
	margin-bottom: 55px;
}

.posts-left{
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.posts-left {
    width: 50%;
}

.posts-right label {
    margin: 0 0 0px 0;
    font-size: 1em;
    color:#f43c60;
    line-height: 1.6em;
}

.sngl-img {
  height: 120px;
}

.posts-right{
	float:right;
	width: 42%;
}

.posts-right h5 a {
    display:inline-block;
    font-size: 1em;
    margin: 1px 0;
    line-height: 1em;
}

.coment-form input[type="text"] {
    background: none;
    width: 100%;
    color: #777;
    margin: 0 0px 23px 0;
    font-size: 0.92em;
    padding: 12px 10px;
    outline: none;
    border: 1px solid #CDCDCD;
}

.coment-form textarea {
    background: none;
    width: 100%;
    color: #777;
    font-size: 0.9em;
    resize: none;
    height: 185px;
    padding: 12px;
    outline: none;
    border: 1px solid #CDCDCD;
}

.coment-form input[type="submit"] {
    padding: 10px 43px;
    margin-top: 23px;
    border: 2px solid #777;
    color: #ffffff;
    font-size: 1em;
    background: #c70039;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.coment-form input[type="submit"]:hover {
    background: transparent;
    color: #69d2e8;
    border: 2px solid #69d2e8;
}

.coment-form h4 {
    margin-bottom: 22px;
}

.coment-form {
    margin-top: 10px;
}