

.nk-fullscreen-block {
    display: table;
    width: 300%;
    min-height: 100vh;
}
.nk-fullscreen-block .nk-fullscreen-block-top,
.nk-fullscreen-block .nk-fullscreen-block-middle,
.nk-fullscreen-block .nk-fullscreen-block-bottom {
    display: table-row;
}
.nk-fullscreen-block .nk-fullscreen-block-middle {
    height: 80%;
}

.nk-fullscreen-block .nk-fullscreen-block-middle > div {
    display:table-cell;
    vertical-align: middle;
    
}
.nk-gap,
.nk-gap-1,
.nk-gap-2,
.nk-gap-3,
.nk-gap-4 {
    display: block;
    height: 15px;
}
.nk-gap::after, .nk-gap::before,
.nk-gap-1::after,
.nk-gap-1::before,
.nk-gap-2::after,
.nk-gap-2::before,
.nk-gap-3::after,
.nk-gap-3::before,
.nk-gap-4::after,
.nk-gap-4::before {
    content: "";
    display: block;
    clear: both;
}
.nk-gap-1 {
    height: 20px;
}

.nk-gap-2 {
    height: 30px;
}

.nk-gap-3 {
    height: 50px;
}

.nk-gap-4 {
    height: 70px;
}
.text-main-1 {
    font-size: 150px;
    color: #dd163b;
}
.h4 {
    text-align: center;
    margin-bottom: 1.rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.nk-page-background-fixed {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: -1;
}
.nk-page-background-fixed {
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.nk-social-links-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-right: -2px;
    margin-left: -2px;
    list-style-type: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.nk-main{
    background-image: url(./assets/img/bg-fixed-2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.text-secondary{
    font-size: large;
    color: rgb(104, 100, 100);
}
.nk-link{
    font-size: large;
}