.blog{
    background: #141414;
    color:whitesmoke;
    width: 100%;
    height: auto;
}
.blog-header{
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    color: whitesmoke;
    padding:10px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-weight: 900;
}
.blog-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blogs{
    height: 380px;
    width: 30%;
    margin: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.blogs .img{
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: all .65s ease;
    position: relative;
}
.blog-date{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #c70039;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    font-family: poppins;
    padding: 3px;
    transition: all .4s ease;
    width: 25%;
    height: auto;
}
.blogs .img img{
    height: 100%;
    width: 100%;
    transition: all .65s ease;
}
.blog-text{
    height: 80%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    font-family: poppins;
    color: whitesmoke;
    background-color: #050505;
    transition: all .5s ease;
  }
  .blog-text h3{
    font-size: 28px;
    font-weight: 500;
    height: 20%;
    padding: 20px;
    letter-spacing: 1px;
  }
  .blog-text p{
    font-size: 18px;
    opacity: .9;
    font-weight: 400;
    height: 80%;
    padding: 30px;
    letter-spacing: 1px;
  }
  .blogs:hover .img{
    transform: translateY(-70%);
}
.blogs:hover .blog-text{
    transform: translateY(-70%);
}
.blogs a{
    text-decoration: none;
    color: whitesmoke;
}